.shield__footers_module_block__wrapper{padding-bottom: 0px; background: transparent;border:none!important;}
.shield__footers_module_block__wrapper__card{background-color:transparent!important;color:#fff;border:none!important;}
.shield__footers_module_block__wrapper *{box-sizing: border-box;}
.shield__footers_module_block__wrapper a{color: #4e73df; text-decoration: none; background-color: transparent;}
.shield__footers_module_block__wrapper p {margin-top: 0;margin-bottom: 1rem;}
.shield__footers_module_block__wrapper ul{margin-top: 0;margin-bottom: 1rem;}
.shield__footers_module_block__wrapper button{outline: none;}
.shield__footers_module_block__wrapper__row{display: flex; flex-wrap: wrap; margin-right: -.75rem; margin-left: -.75rem;}
.shield__footers_module_block__wrapper__card{position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid #e3e6f0; border-radius: .35rem;}
.shield__footers_module_block__wrapper__shadow{box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;}
.shield__footers_module_block__wrapper__card-body{flex: 1 1 auto;padding: 1.25rem;}
.shield__footers_module_block__wrapper__p-0{padding: 0!important;}
.shield__footers_module_block__wrapper__mb-3{margin-bottom: 1rem!important;}
.shield__footers_module_block__wrapper__btn{display: inline-block; font-weight: 400; color: #858796; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent; border: 1px solid transparent; padding: .375rem .75rem;line-height: 1.5; border-radius: .35rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;cursor: pointer;}
.shield__footers_module_block__wrapper__btn-sm{padding: .25rem .5rem; line-height: 1.5; border-radius: .2rem;}
.shield__footers_module_block__wrapper__btn-success{color: #fff; background-color: #1cc88a; border-color: #1cc88a;}
.shield__footers_module_block__wrapper__btn-light{color: #3a3b45;background-color: #f8f9fc;border-color: #f8f9fc;}
.shield__footers_module_block__wrapper__mb-1{margin-bottom: .25rem!important;}
.shield__footers_module_block__wrapper__col, .shield__footers_module_block__wrapper__col-1, .shield__footers_module_block__wrapper__col-10, .shield__footers_module_block__wrapper__col-11, .shield__footers_module_block__wrapper__col-12, .shield__footers_module_block__wrapper__col-2, .shield__footers_module_block__wrapper__col-3, .shield__footers_module_block__wrapper__col-4, .shield__footers_module_block__wrapper__col-5, .shield__footers_module_block__wrapper__col-6, .shield__footers_module_block__wrapper__col-7, .shield__footers_module_block__wrapper__col-8, .shield__footers_module_block__wrapper__col-9 {
	position: relative;
	width: 100%;
	padding-right: .75rem;
	padding-left: .75rem;
}
.shield__footers_module_block__wrapper__col {flex-basis: 0; flex-grow: 1; max-width: 100%; }
.shield__footers_module_block__wrapper__col-auto {flex: 0 0 auto; width: auto; max-width: 100%; }
.shield__footers_module_block__wrapper__col-1 {flex: 0 0 8.33333%; max-width: 8.33333%; }
.shield__footers_module_block__wrapper__col-2 {flex: 0 0 16.66667%; max-width: 16.66667%; }
.shield__footers_module_block__wrapper__col-3 {flex: 0 0 25%; max-width: 25%; }
.shield__footers_module_block__wrapper__col-4 {flex: 0 0 33.33333%; max-width: 33.33333%; }
.shield__footers_module_block__wrapper__col-5 {flex: 0 0 41.66667%; max-width: 41.66667%; }
.shield__footers_module_block__wrapper__col-6 {flex: 0 0 50%; max-width: 50%; }
.shield__footers_module_block__wrapper__col-7 {flex: 0 0 58.33333%; max-width: 58.33333%; }
.shield__footers_module_block__wrapper__col-8 {flex: 0 0 66.66667%; max-width: 66.66667%; }
.shield__footers_module_block__wrapper__col-9 {flex: 0 0 75%; max-width: 75%; }
.shield__footers_module_block__wrapper__col-10 {flex: 0 0 83.33333%; max-width: 83.33333%; }
.shield__footers_module_block__wrapper__col-11 {flex: 0 0 91.66667%; max-width: 91.66667%; }
.shield__footers_module_block__wrapper__col-12 {flex: 0 0 100%; max-width: 100%; }
.shield__footers_module_block__wrapper__btn:hover {color: #858796;text-decoration: none;}
.shield__footers_module_block__wrapper__h1, .shield__footers_module_block__wrapper__h2, .shield__footers_module_block__wrapper__h3, .shield__footers_module_block__wrapper__h4, .shield__footers_module_block__wrapper__h5, .shield__footers_module_block__wrapper__h6, {margin-bottom: .5rem;font-weight: 400;line-height: 1.2;}
.shield__footers_module_block__wrapper__accordion>.shield__footers_module_block__wrapper__card:first-of-type {border-bottom: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.shield__footers_module_block__wrapper__accordion>.shield__footers_module_block__wrapper__card {overflow: hidden;}
.shield__footers_module_block__wrapper__card .shield__footers_module_block__wrapper__card-header[data-toggle=collapse] {text-decoration: none;position: relative;padding: .75rem 3.25rem .75rem 1.25rem;}
.shield__footers_module_block__wrapper__accordion>.shield__footers_module_block__wrapper__card .shield__footers_module_block__wrapper__card-header {margin-bottom: -1px;}
.shield__footers_module_block__wrapper__card-header:first-child {border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;}
.shield__footers_module_block__wrapper__py-3 {padding-bottom: 1rem!important;}
.shield__footers_module_block__wrapper__py-3 {padding-top: 1rem!important;}
.shield__footers_module_block__wrapper__card-header {padding: .75rem 1.25rem;margin-bottom: 0;background-color: transparent;border-bottom: 1px solid #e3e6f0;}
.shield__footers_module_block__wrapper__collapse:not(.show) {display: none;}
.shield__footers_module_block__wrapper__card-body {flex: 1 1 auto;padding: 1.25rem;}
.shield__footers_module_block__wrapper__m-0 {margin: 0!important;}
.shield__footers_module_block__wrapper__mr-1 {margin-right: .25rem!important;}
.shield__footers_module_block__wrapper__offset-1 {margin-left: 8.33333%;}
.shield__footers_module_block__wrapper__offset-2 {margin-left: 16.66667%;}
.shield__footers_module_block__wrapper__offset-3 {margin-left: 25%;}
.shield__footers_module_block__wrapper__offset-4 {margin-left: 33.33333%;}
.shield__footers_module_block__wrapper__offset-5 {margin-left: 41.66667%;}
.shield__footers_module_block__wrapper__offset-6 {margin-left: 50%;}
.shield__footers_module_block__wrapper__offset-7 {margin-left: 58.33333%;}
.shield__footers_module_block__wrapper__offset-8 {margin-left: 66.66667%;}
.shield__footers_module_block__wrapper__offset-9 {margin-left: 75%;}
.shield__footers_module_block__wrapper__offset-10 {margin-left: 83.33333%;}
.shield__footers_module_block__wrapper__offset-11 {margin-left: 91.66667%;}
.shield__footers_module_block__wrapper span[city-info]{display: none;}
.shield__footers_module_block__wrapper__col, .shield__footers_module_block__wrapper__col-1, .shield__footers_module_block__wrapper__col-10, .shield__footers_module_block__wrapper__col-11, .shield__footers_module_block__wrapper__col-12, .shield__footers_module_block__wrapper__col-2, .shield__footers_module_block__wrapper__col-3, .shield__footers_module_block__wrapper__col-4, .shield__footers_module_block__wrapper__col-5, .shield__footers_module_block__wrapper__col-6, .shield__footers_module_block__wrapper__col-7, .shield__footers_module_block__wrapper__col-8, .shield__footers_module_block__wrapper__col-9 {position: relative;width: 100%;padding-right: .75rem;padding-left: .75rem;}
.show .shield__footers_module_block__wrapper__seo-faq__answer > div{padding: 25px 0px 10px 25px;}
.shield__footers_module_block__wrapper__left{text-align: right;}
.shield__footers_module_block__wrapper span,.shield__footers_module_block__wrapper p, .shield__footers_module_block__wrapper li{color: #000;}
.shield__footers_module_block__wrapper a:hover{text-decoration: underline;}
.shield__footers_module_block__wrapper__row span a, .shield__footers_module_block__wrapper__row li, .shield__footers_module_block__wrapper__row li a, #top-products a{color: #fff;font-size: 14px;}
.shield__footers_module_block__wrapper button {opacity: 0.8; background: transparent; color: #fff; font-size: 13px; font-weight: bold; transition: opacity .22s ease-in-out, box-shadow .22s ease-in-out; box-shadow: 0px 0px 0px -4px #fff;}
.shield__footers_module_block__wrapper button:hover{opacity: 1; color:#fff; box-shadow: 0px 0px 10px -4px #fff;}
.shield__footers_module_block__wrapper button.shield__footers_module_block__wrapper__btn-success{opacity:1;border-color: #fff}
.shield__footers_module_block__wrapper__accordion>.shield__footers_module_block__wrapper__card:not(:first-of-type) .shield__footers_module_block__wrapper__card-header:first-child{border-radius:0;}
.shield__footers_module_block__wrapper__accordion>.shield__footers_module_block__wrapper__card:not(:first-of-type):not(:last-of-type){border-bottom: 0;border-radius: 0;}
.shield__footers_module_block__wrapper__accordion>.shield__footers_module_block__wrapper__card:last-of-type {border-top-left-radius: 0;border-top-right-radius: 0;}
.shield__footers_module_block__wrapper__h4{font-size: 18px;color: #fff!important;margin-bottom: 15px;display: block;}
.shield__footers_module_block__wrapper__card#sentences li{padding-bottom: 10px;}
.shield__footers_module_block__wrapper__card#faq *{color:#fff;}
.shield__footers_module_block__wrapper__card-header{border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
@media (max-width:600px){
	.shield__footers_module_block__wrapper__offset-2{margin-left:0px}
	.shield__footers_module_block__wrapper__bottom > .shield__footers_module_block__wrapper__row{flex-direction: column;}
	.shield__footers_module_block__wrapper__left{text-align: left;}
	.shield__footers_module_block__wrapper__col-2 {flex: 0 0 100%;max-width: 100%;}
	.shield__footers_module_block__wrapper__col-3 {flex: 0 0 50%;max-width: 50%;}
	.shield__footers_module_block__wrapper__left > br{display:none;}
	.shield__footers_module_block__wrapper__left > button{margin-right:0.2em;}
	.shield__footers_module_block__wrapper__col-10 {flex: 0 0 100%;max-width: 100%;}
	.shield__footers_module_block__wrapper__top.shield__footers_module_block__wrapper__mb-3{margin-bottom: .2em!important;}
}
.shield__footers_inactive{display: none;}